.flexcontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
}

#uh {
	/* This will be twice as big as the small item. */
	-webkit-flex: 2 0 0;
	flex: 1 0 0;
}
#output {
	-webkit-flex: 2 0 0;
	flex: 4 0 0;
}

.subtitle {
	color: #9e9e9e;
}